<%- if @zones.empty? %>
  <p class='mb-lg'><%= t('views.zones.index.empty') %></p>
<%- else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t('defaults.name') %></th>
        <th><%= t('models.zone.etcd_key') %></th>
      </tr>
    </thead>
    <tbody>
      <%- @zones.each do |zone| %>
        <tr>
          <td><%= link_to zone.name, zone_path(zone) %></td>
          <td><%= zone.etcd_key %></td>
        </tr>
      <%- end %>
    </tbody>
  </table>
<%- end %>
