<%= content_for :title, "#{t('app.name')} - #{t('views.zones.edit.title')}" %>
<div class="col-xs-12">
  <div class="page-header">
    <h1 class="pull-left">
      <%= t('views.zones.edit.title') %>
    </h1>
    <div class="buttons pull-right">
      <div class="btn-group" role="group">
        <%= link_to t('defaults.delete'), zone_path(@zone), class: 'btn btn-danger', method: :delete, data: { confirm: t('defaults.are_you_sure') } %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <%= form_for @zone, url: zone_path(@zone) do |f| %>
        <%= render partial: 'form_fields', locals: { form: f } %>
        <%= render partial: 'shared/errors', locals: { model: @zone } %>

        <div class="row mtb-md">
          <div class="col-md-10 col-md-offset-2">
            <div class="btn-toolbar">
              <%= link_to t('defaults.cancel'), zones_path, class: 'btn btn-default' %>
              <%= f.submit t('defaults.save'), class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      <%- end %>
    </div>
  </div>
</div>