<div class='row mtb-md'>
  <div class='col-md-2 mt-sm'>
    <%= form.label :name, t('defaults.name') %>
  </div>
  <div class='col-md-10'>      
    <%= form.text_field :name, class: 'form-control', placeholder: t('defaults.name') %>
  </div>
</div>
<div class='row mtb-md'>
  <div class='col-md-2 mt-sm'>
    <%= form.label :redis_key, t('models.app.redis_key') %>
  </div>
  <div class='col-md-10'>
    <%= form.text_field :redis_key, class: 'form-control', placeholder: t('models.app.redis_key') %>
  </div>
</div>
<div class='row mtb-md'>
  <div class='col-md-2 mt-sm'>
    <%= form.label :zone_ids, t('defaults.zones') %>
  </div>
  <div class='col-md-10'>
    <%= form.collection_select :zone_ids, @zones, :id, :name, {}, { multiple: true, class: 'form-control', placeholder: t('models.app.redis_key') } %>
  </div>
</div>