<%= content_for :title, "#{t('app.name')} - #{t('views.apps.edit.title')}" %>
<div class="col-xs-12">
  <div class="page-header">
    <h1 class="pull-left">
      <%= t('views.apps.edit.title') %>
    </h1>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <%= form_for @app, url: app_path(@app) do |f| %>
        <%= render partial: 'form_fields', locals: { form: f } %>
        <%= render partial: 'shared/errors', locals: { model: @app } %>

        <div class="row mtb-md">
          <div class="col-md-10 col-md-offset-2">
            <div class="btn-toolbar">
              <%= link_to t('defaults.cancel'), app_path(@app), class: 'btn btn-default' %>
              <%= f.submit t('defaults.save'), class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      <%- end %>
    </div>
  </div>
</div>