<%- if @users.empty? %>
  <p class='mb-lg'><%= t('views.users.index.empty') %></p>
<%- else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t('defaults.email') %></th>
        <th><%= t('models.user.role') %></th>
        <th><%= t('models.user.last_sign_in_at') %></th>          
        <th><%= t('models.user.last_sign_in_ip') %></th>
      </tr>
    </thead>
    <tbody>
      <%- @users.each do |user| %>
        <tr>
          <td><%= link_to user.email, user_path(user) %></td>
          <td><%= t("models.user.roles.#{user.role}") %></td>
          <td><%= format_datetime(user.last_sign_in_at) %></td>
          <td><%= user.last_sign_in_ip %></td>
        </tr>
      <%- end %>
    </tbody>
  </table>
<%- end %>
