<%= content_for :title, "#{t('app.name')} - #{t('views.users.edit.title')}" %>

<div class="container">
  <h1><%= t('views.users.edit.title') %></h1>

  <%= form_for @user, url: user_path(@user) do |f| %>
    <div class='row mtb-md'>
      <div class='col-md-2 mt-sm'>
        <%= f.label :email, t('models.user.email') %>
      </div>
      <div class='col-md-10'>      
        <%= f.text_field :email, class: "form-control", placeholder: t('models.user.email') %>
      </div>
    </div>
    <div class='row mtb-md'>
      <div class='col-md-2 mt-sm'>
        <%= f.label :role, t('models.user.role') %>
      </div>
      <div class='col-md-10'>      
        <%= f.select :role, role_options, {}, class: "form-control", placeholder: t('models.user.role') %>
      </div>
    </div>

    <%= render partial: 'shared/errors', locals: { model: @user } %>

    <div class="btn-toolbar">
      <%= link_to t('defaults.cancel'), user_path(@user), class: 'btn btn-default' %>
      <%= f.submit t('defaults.save'), class: 'btn btn-primary' %>
    </div>
  <%- end %>

</div>
