<%= content_for :title, "#{t('app.name')} - #{t('views.users.new.title')}" %>
<div class="col-xs-12">
  <div class="page-header">
    <h1 class="pull-left">
      <%= t('views.users.new.title') %>
    </h1>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <%= form_for @user, url: users_path do |f| %>
        <%= render partial: 'form_fields', locals: { form: f } %>
        <div class='row mtb-md'>
          <div class='col-md-2 mt-sm'>
            <%= f.label :password, t('models.user.password') %>
          </div>
          <div class='col-md-10'>
            <%= f.password_field :password, class: 'form-control', placeholder: t('models.user.password') %>
          </div>
        </div>
        <div class='row mtb-md'>
          <div class='col-md-2 mt-sm'>
            <%= f.label :password_confirmation, t('models.user.password_confirmation') %>
          </div>
          <div class='col-md-10'>
            <%= f.password_field :password_confirmation, class: 'form-control', placeholder: t('models.user.password_confirmation') %>
          </div>
        </div>
        <%= render partial: 'shared/errors', locals: { model: @user } %>

        <div class="row mtb-md">
          <div class="col-md-10 col-md-offset-2">
            <div class="btn-toolbar">
              <%= link_to t('defaults.cancel'), users_path, class: 'btn btn-default' %>
              <%= f.submit t('defaults.save'), class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      <%- end %>
    </div>
  </div>
</div>