<%= content_for :title, "#{t('app.name')} - #{t('views.users.new.title')}" %>

<div class="container">
  <h1><%= t('views.users.new.title') %></h1>

  <%= form_for @user, url: users_path do |f| %>
    <div class='row mt-md mb-md'>
      <div class='col-md-2 mt-sm'>
        <%= f.label :email, t('models.user.email') %>
      </div>
      <div class='col-md-10'>      
        <%= f.text_field :email, class: "form-control", placeholder: t('models.user.email') %>
      </div>
    </div>
    <div class='row mt-md mb-md'>
      <div class='col-md-2 mt-sm'>
        <%= f.label :password, t('models.user.password') %>
      </div>
      <div class='col-md-10'>      
        <%= f.password_field :password, class: "form-control", placeholder: t('models.user.password') %>
      </div>
    </div>
    <div class='row mt-md mb-md'>
      <div class='col-md-2 mt-sm'>
        <%= f.label :password_confirmation, t('models.user.password_confirmation') %>
      </div>
      <div class='col-md-10'>      
        <%= f.password_field :password_confirmation, class: "form-control", placeholder: t('models.user.password_confirmation') %>
      </div>
    </div>
    <div class='row mt-md mb-md'>
      <div class='col-md-2 mt-sm'>
        <%= f.label :role, t('models.user.role') %>
      </div>
      <div class='col-md-10'>      
        <%= f.select :role, role_options, {}, class: "form-control", placeholder: t('models.user.role') %>
      </div>
    </div>

    <%= render partial: 'shared/errors', locals: { model: @user } %>

    <div class="btn-toolbar">
      <%= link_to t('defaults.cancel'), users_path, class: 'btn btn-default' %>
      <%= f.submit t('defaults.save'), class: 'btn btn-primary' %>
    </div>
  <%- end %>

</div>
