<div class="row">
  <div class="col-xs-2 col-xs-offset-5">
    <%= form_for(:user, url: user_session_path, html: { class: 'form-sign-in' }) do |f| %>
      <h2 class='mt-lg mb-lg'><%= t('views.sessions.new.title') %></h2>
      <%= f.email_field :email, class: 'form-control mtb-md', placeholder: 'Email address' %>
      <%= f.password_field :password, class: 'form-control mtb-md', placeholder: 'Password' %>
      <div class="checkbox">
        <label>
        <%= f.check_box :remember_me %> <%= t('views.sessions.new.remember_me') %>
        </label>
      </div>
      <%= f.submit t('views.sessions.new.sign_in'), class: 'btn btn-lg btn-primary btn-block mtb-md' %>

      <%-if notice %>
        <div class='text-info'>
          <%= notice %>
        </div>
      <%- end %>
      <%-if alert %>
        <div class='text-danger'>
          <%= alert %>
        </div>
      <%- end %>
    <%- end %>
  </div>
</div>