<%= content_for :title, "#{t('app.name')} - #{t('defaults.redis')}" %>

<div class="col-xs-12">
  <div class="page-header">
    <h1 class="pull-left">
      <%= t('defaults.redis') %>
    </h1>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <%- if @redis_keys.empty? %>
        <p><%= t('views.redis.index.empty') %></p>
      <%- else %>
        <table class="table table-striped">
          <thead>
          <tr>
            <th><%= t('defaults.key') %></th>
            <th><%= t('defaults.field') %></th>
            <th><%= t('defaults.value') %></th>
          </tr>
          </thead>
          <tbody>
          <%- @redis_keys.each do |r_key, value| %>
            <%- value.each_with_index do |(key, value), index| %>
              <tr>
                <td><%= (index == 0) ? r_key : '' %></td>
                <td><%= key %></td>
                <td><%= value %></td>
              </tr>
            <%- end %>
          <%- end %>
          </tbody>
        </table>
      <%- end %>
    </div>
  </div>
</div>